#topRow
{
  padding-top: 20px;
  float: right;
}

#bk
{
  padding-top: 220px;
  padding-bottom: 100px;
}

#imgGoogle
{
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

#searchform
{
  width: 580px;
  margin: 0 auto;
  padding: 30px 0px 0px 50px;
}

#searchDiv
{
	margin: auto;
	width: 50%;
}

#s {
	width:300px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.15);
	border:none;
	background-color:transparent;
	border-radius: 50px;
    border: 0.1px solid #dbdbdb;
}

#s::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#s:hover::after {
  opacity: 1;
}

#s:focus {
	outline:none;
}

footer {
  bottom: 0;
  position:absolute;
  background: #f2f2f2;
  width: 100%;
}

footer p {
  display: inline;
  line-height: 13px;
  padding: 0 15px;
}

#divOptionsLeft {
	margin: auto;
}

#divOptionsRight {
	margin: auto;
}